<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scriptInit">
    <!--    JavaScript Librabries-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{../static/lib/easing/easing.min.js}"></script>
    <script th:src="@{../static/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!--    Contact JavaScript File-->
    <script th:src="@{../static/mail/jqBootstrapValidation.min.js}"></script>
    <script th:src="@{../static/mail/contact.js}"></script>

    <!--    Template Javascript-->
    <script th:src="@{../static/js/main.js}"></script>

    <!--    Category Js-->
    <script th:src="@{../static/js/category.js}"></script>

    <!--    Cart Js-->
    <script th:if="${direction} == 'container/cart'" th:src="@{../../static/custom/js/cartCustom.js}"></script>
    <script th:if="${direction} == 'container/cart'" th:src="@{../../static/custom/js/updateCartCustom.js}"></script>
    <script th:src="@{../../static/custom/js/addToCartCustom.js}"></script>
    <script th:if="${direction} == 'container/shop'" th:src="@{../../static/custom/js/shopCustom.js}"></script>
    <script th:if="${direction} == 'container/checkout'" th:src="@{../../static/custom/js/checkOutCustom.js}"></script>
</div>
</html>